@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  scroll-behavior: smooth;
}

/* just scrollbar customizations start */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

/* just scrollbar customizations end */

body {
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(#000000, #395183);
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 1rem;
  color: white;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  width: 20rem;
  height: auto;
  /* left: 0; */
  /* top: 16px; */
}

section img#planet {
  width: 60rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(40rem) scaleX(-1);
  z-index: 11;
}

section img#astronaut {
  margin-left: -20vw;
  margin-top: 20rem;
  width: 10rem;
  height: auto;
}

section img#stars {
  mix-blend-mode: multiply;
}

#text {
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 5rem;
  z-index: 9;
  white-space: nowrap;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: white;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #000000;
  z-index: 11;
  height: 100vh;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: white;
}

.sec p {
  font-size: 1.2em;
  color: white;
  margin-top: 5rem;
  text-align: justify;
}
